/*Ivan Valverde🐦*/
/*Angel Ureña💢*/
body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden; /* Ez clap XD*/
}
/*Nav-Var*/
.hide {
  display: none;
}
/*Boxes shapes*/
  .contenedor  {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(65.33deg, rgba(232, 94, 60, 0.81) 1.71%, rgba(232, 60, 163, 0) 50.49%), linear-gradient(233.59deg, #E83C4C -3.23%, #E83C4C -3.23%);
    display:grid;
    z-index: 1000;
    /*Para darle porte a mi vara rata jaja, librerias pura kk !important; */  
}
.Logo{
  font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
}

.Slogan{
margin-block-start: 2em;
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 29px;
color: white;
margin-block-end: 0em;
}
.xd{
  margin-top:64px ;
  background: transparent;
}
.ibutton  {
  height: 7vw;
  width: 22vw;
  border-radius: 1rem;
  border: none;
  box-shadow: -5px 10px rgb(249, 101, 3);
  left: 5vw;
  margin-top: 8vw;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
}
.ibutton:hover{
  height: 7.2vw;
  width: 22.2vw;
}


.WR{
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: block;

}
.WRT{
margin-top: 30px;
position: relative;
z-index: 1000;
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
}
video{
  position: relative;
z-index: 1000;
}
#grid_who{
  display: grid;
  
}
.WRp{
  font-family: Gill Sans MT;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
  position: relative;
  z-index: 1000;
}
.WRi{
width: 50vw;
height: auto;

}


.ball.a {
  top: 50%;
  position: fixed;
  width: 125px;
  height: 125px;
  background: rgba(252, 177, 125, 0.69);
transform: rotate(-52.63deg);
  border-radius: 50%;
  animation: floating 15s linear 0s infinite reverse;
  z-index: auto;
}
.ball.b {  
  top: 50vh;
  position: fixed;
  width: 172px;
  height: 172px;
  left: 50%;
  background: linear-gradient(91.3deg, #EFBAD3 9.51%, rgba(255, 255, 255, 0) 195.85%), rgba(255, 137, 147, 0.54);
  border-radius: 50%;
  animation: floating 20s linear 0s infinite reverse ;
  z-index: auto;
}
.ball.c {  
  top:50vh;
  position: fixed;
  width: 20px;
  height: 20px;
  left: 10%;
  background: rgba(126, 137, 210, 0.67);
  transform: rotate(-52.63deg);
  border-radius: 50%;
  animation: floating 20s linear 0s infinite reverse ;
  z-index: auto;
}
.ball.d {  top: 50vh;
  position: fixed;
  width: 110px;
  height: 110px;
  left: 80%;
  background: rgba(101, 200, 208, 0.47);
  transform: rotate(-52.63deg);
  border-radius: 50%;
  animation: floating 27s linear 0s infinite reverse ;
  z-index: auto;
}
.ball.e {  top: 50vh;
  position: fixed;
  width: 68px;
  height: 68px;
  left: 13%;
  background: linear-gradient(180deg, #54B290 0%, rgba(255, 255, 255, 0) 100%), rgba(116, 207, 174, 0.69);
  transform: rotate(-52.63deg);
  border-radius: 50%;
  animation: floating 19s linear 0s infinite  ;
  z-index: auto;
}
.ball.f {  top: 50vh;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 40%;
  background: linear-gradient(180deg, rgba(232, 60, 76, 0.69) 0%, rgba(255, 255, 255, 0) 100%), rgba(252, 177, 125, 0.69);
  transform: rotate(-52.63deg);
  border-radius: 50%;
  animation: floating 25s linear 0s infinite  ;
  z-index: auto;
}
.ball.g {  top: 50vh;
  position: fixed;
  width: 68px;
  height: 68px;
  left: 73%;
  background: linear-gradient(153.58deg, rgba(162, 84, 242, 0.22) 16.7%, rgba(255, 255, 255, 0) 100%), rgba(232, 60, 158, 0.69);
  transform: rotate(-52.63deg);
  border-radius: 50%;
  animation: floating 35s linear 0s infinite  ;
  z-index: auto;
}
@keyframes floating {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

.WD{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fefefe;
  display:grid;
  display: block;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
}

.front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
}

.img{
width: 35vw;
vertical-align: sub;
position: relative;
animation-name: change;
animation-delay: 5s;
animation-duration: 5s;
}

@keyframes change{
  0%   {left:0px; top:0px;}
  
  100%  {left:15vw; top:0px; opacity: 0;}

}
@keyframes change-port{
  0%   {left:0px; top:0px;}
  
  100%  {left:0px; top:20px; opacity: 0;}

}
@media only screen and (max-width: 700px) {
.WRi{
width: 100vw;
margin-top: 20px;
}
.img{
width: 90vw;
align-content: center;
animation-name: change-port;
animation-delay: 6s;
animation-duration: 5s;
}
.ibutton  {
  height: 10vw;
  width: 25vw;
  border-radius: 0.5rem;
  border: none;
  box-shadow: -5px 10px rgb(249, 101, 3);
  left: 5vw;
  top: 30vw;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2vw;
  line-height: 4vw;
  text-align: center;
}
.ibutton:hover{
  height: 7.2vw;
  width: 22.2vw;
}
}
.center{
  position: relative;
  display: inline-block;
  width: 60vw;
  display: block;
}
.STo{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  display:grid;
  display: block;
  margin-top: 57vw;
}
.cont{
  position: absolute;
width: 377.8px;
height: 519.36px;
left: 5vw;
top: calc(50% - 519.36px/2 + 103.26px);
background: #E6E6E6;
border-radius: 110px;

}
.contc{
  position: absolute;
width: 269px;
height: 269px;
left: 4vw;
bottom: 28vw;
border-radius: 160.5px;
background-color:  #C4C4C4;

}

.cont1{
  position: absolute;
width: 377.8px;
height: 519.36px;
left: 37vw;
top: calc(50% - 519.36px/2 + 103.26px);

background: #E6E6E6;
border-radius: 110px;
}
.contc1{
  position: relative;
width: 269px;
height: 269px;
left: 4vw;
bottom: 10vw;
border-radius: 160.5px;
background: #157D8A;
}

.cont2{
  position: absolute;
width: 377.8px;
height: 519.36px;
left: 69vw;
top: calc(50% - 519.36px/2 + 103.26px);

background: #E6E6E6;
border-radius: 110px;
}
.contc2{
  position: relative;
width: 269px;
height: 269px;
left: 5vw;
bottom: 10vw;
border-radius: 160.5px;
background: white;
}
.StoT{
  font-family: Coolvetica;
font-style: normal;
font-weight: normal;

}
.eme{
  width: 15vw;
  height: 10vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
.ad{
  width: 15vw;
  height: 15vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
.micro{
  width: 15vw;
  height: 15vw;
  margin-left: 2vw;
  margin-top: 2vw;
}