/*Ivan Valverde🐦*/
/*Angel Ureña💢*/
// Sass styles
%balls-default-style{
  z-index: auto;
  border-radius: 50%;
  position: fixed;
  transform: rotate(-52.63deg);
  top: 50vh;
}
@mixin ball-specific-style($width, $height, $left){
  width: $width;
  height: $height;
  left: $left;
}
%cont-story{
position: absolute;
width: 27vw;
height: 63vh;
background: #E6E6E6;
border-radius: 110px;
top: calc(55% - 519.36px/2 + 103.26px);
}
%circle-story{
position: absolute;
width: 269px;
height: 269px;
bottom: 28vw;
border-radius: 160.5px;
background-color: #C4C4C4;
}
@mixin circle-story($left,$background){
margin-left: $left;
background: $background;
}
%Gimages{
height: auto;
margin-bottom: 10px;
}
// label color //
.input-field label {
  color: #000  !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000  !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000  !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid yellow  !important;
  box-shadow: 0 1px 0 0 yellow  !important;
}
.input-field input[type=email].valid {
  border-bottom: 1px solid yellow  !important;
  box-shadow: 0 1px 0 0 yellow  !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000  !important;
}
input-field:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: -internal-light-dark(black, red) !important;
}
a{
  color: #000;
}
.carousel .carousel-indicators li {
  width: .625rem;
  height: .625rem;
  cursor: pointer;
  border-radius: 50%;
}
.carousel-indicators {
  position: absolute;
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* z-index: 15; */
  display: -ms-flexbox;
  display: -webkit-box;
  /* display: flex; */
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-left: 0; */
  /* margin-right: 15%; */
  margin-left: 40vw;
  list-style: none;
  width: 1vw;
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 3vw;
  height: 3vw;
  border-radius: 5rem;
  margin-left: 2vw;
  text-indent: -999px;
  cursor: pointer;
  background-color: #b1abab;
  background-clip: padding-box;
  //border-top: 10px solid transparent;
  //border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.bs{
  width: 25vw;
}
.Simg{
width: 30vw;
vertical-align: sub;
position: relative;
//margin-top: 25%;
margin-left: 17%;
}
.containerinner{
  display: block;
  height: 0vw;
  width: 35vw;
  margin-top: -1%;
}
#dropdown1{
  background-color:  rgba(0,0,0,0.8) !important;
}
.s{
  width: 1px;
  height: 1px;
  display: none;
}
.img{
  width: 25vw;
  vertical-align: sub;
  position: relative;
  animation-name: change;
  animation-delay: 5s;
  animation-duration: 5s;
  }
  .imgCarousel{
    height: 80vh;
    width: auto;
    margin-top: -5vh;
    vertical-align: sub;
    position: relative;
    animation-name: change;
    animation-delay: 5s;
    animation-duration: 5s;
  }
//Animations
@keyframes floatingBalls {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}
@keyframes change{
  0%{
      left:0px; top:0px;
  }
  100%{
      left:15vw; top:0px; opacity: 0;
  }
}
@keyframes change-port{
  0% {
      left:0px; 
      top:0px;
  }
  
  100% {
      left:0px; 
      top:20px; 
      opacity: 0;
  }

}

// Normal styles
body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden; /* Ez clap XD*/
}
html, body {
  height: 100%;
}
.hide {
  display: none;
}
a{
  cursor: pointer;
}
/* Change the white to any color */
input [type=text]:-webkit-autofill,
input [type=text]:-webkit-autofill:hover, 
input [type=text]:-webkit-autofill:focus, 
input [type=text]:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}
.section-search input.autocomplete {
  color: #000;
}
.input-field .prefix.active {
  color: #000!important;
}
.autocomplete-content li .highlight {
  color: red!important;
}
.waves-effect.waves-lightBlue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: #90caf9 ;
 }

.contenedor  {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(65.33deg, rgba(232, 94, 60, 0.81) 1.71%, rgba(232, 60, 163, 0) 50.49%), linear-gradient(233.59deg, #E83C4C -3.23%, #E83C4C -3.23%);
    display:grid;
    z-index: 1000;
    overflow: scroll;
}
/*.transparent{
  position: fixed!important;
}*/
.Logo{
  font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
}
#navBar{
  background-color:rgba(0, 0, 0, 0)
}
.Slogan{
margin-block-start: 2em;
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 29px;
color: white;
margin-block-end: 0em;
}
.xd{
  margin-top:64px ;
  background: transparent;
}
.ibutton  {
  height: 7vw;
  width: 22vw;
  border-radius: 1rem;
  border: none;
  box-shadow: -5px 10px rgb(249, 101, 3);
  left: 5vw;
  margin-top: 8vw;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 4vw;
  text-align: center;
}
.ibutton:focus{
  background-color: #fff;
}
.ibutton:hover{
  height: 7.2vw;
  width: 22.2vw;
}
.WR{
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: block;

}
.WRT{

position: relative;
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 43px;
margin-top: 10vh;
}
.brand-logo{
  left: 35px;
}
video{
  position: relative;
z-index: 999;
}
.grid_who{
  display: grid;
  
}
.WRp{
  font-family: Gill Sans MT;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
  position: relative;
  z-index: 999;
}

.ball{
  @extend %balls-default-style;
}
.a {
  @include ball-specific-style(172px, 172px, 0%);
  background: rgba(252, 177, 125, 0.69);
  animation: floatingBalls 15s linear 0s infinite reverse;
}
.b{  
  @include ball-specific-style(172px, 172px, 50%);
  background: linear-gradient(91.3deg, #EFBAD3 9.51%, rgba(255, 255, 255, 0) 195.85%), rgba(255, 137, 147, 0.54);
   animation: floatingBalls 20s linear 0s infinite reverse ;
}
.c{ 
  @include ball-specific-style(35px, 35px, 10%);
  background: rgba(126, 137, 210, 0.67);
  animation: floatingBalls 20s linear 0s infinite reverse ;
}
.d{ 
  @include ball-specific-style(110px, 110px, 80%);
  background: rgba(101, 200, 208, 0.47);
  animation: floatingBalls 27s linear 0s infinite reverse;
}
.e{
  @include ball-specific-style(68px, 68px, 13%);
  background: linear-gradient(180deg, #54B290 0%, rgba(255, 255, 255, 0) 100%), rgba(116, 207, 174, 0.69);
  animation: floatingBalls 19s linear 0s infinite;
}
.f{
  @include ball-specific-style(50px, 50px, 40%);
  background: linear-gradient(180deg, rgba(232, 60, 76, 0.69) 0%, rgba(255, 255, 255, 0) 100%), rgba(252, 177, 125, 0.69);
  animation: floatingBalls 25s linear 0s infinite;
}
.g{ 
  @include ball-specific-style(68px, 68px, 73%);
  background: linear-gradient(153.58deg, rgba(162, 84, 242, 0.22) 16.7%, rgba(255, 255, 255, 0) 100%), rgba(232, 60, 158, 0.69);
  animation: floatingBalls 35s linear 0s infinite  ;
}
.WD{
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f6f6f6;//#fefefe
  display: inline-block;
}
.WDT{

  position: relative;
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 43px;
  margin-top: 10vh;
  }
  .WDp{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 25px;
    }
#dropdownFirst{
  margin-top: 70px;
}
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
} 
#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  position: relative;
  display: inline-block;
  width: 60vw;
  display: block;
}

.STo{
position: relative;
min-width: 100vw;
min-height: 110vh;
background-color: #f6f6f6;
display: inline-block;
padding-bottom: 5vh;
//margin-top: 57vw;
}

.cont {
  @extend %cont-story;
  left: 5vw;
  
}

.contc {
  @extend %circle-story;
  @include circle-story(10%, #C4C4C4);

}

.cont1 {
  @extend %cont-story;
  left: 37vw;
}

.contc1 {
  @extend %circle-story;
  @include circle-story(10%, #157D8A);
}

.cont2 {
  @extend %cont-story;
  margin-left: 10%;
}

.contc2 {
  @extend %circle-story;
  @include circle-story(10%, #ffffff);
}

.StoT {
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
}

.eme {
  width: 15vw;
  height: 10vw;
  margin-left: 2vw;
  margin-top: 2vw;
}

.ad {
  width: 15vw;
  height: 15vw;
  margin-left: 2vw;
  margin-top: 2vw;
}

.micro {
  width: 15vw;
  height: 15vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
.Hbox{
  width: 80%;
  margin-left: 10%;
  height: 60vh;
  background:#E6E6E6;
  margin-top: 10vw;
  border-radius: 75px;
  padding-right: 10px;
  padding-left: 10px;
}
.SToh{
  font-family: Coolvetica;
  margin-top: 9vw;
font-style: normal;
font-weight: normal;
font-size: 40px;
color: #333333;
}
.STot{
  font-family: Gill Sans MT;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;
margin-top: 3vw;
}
.OS{
  position: relative;
  width: 100vw;
  height: 110vh;
  background-color: #f6f6f6;
  display:grid;
  display: block;

}
/*Cada left se le suma 24vw para tener orden*/
.EDA{
  position: absolute;
  width: 18vw;
  height: 18vw;
  left: 4vw;
margin-top: 25vw;
  border-radius: 160.5px;
  background-color:  #E63C4C;
  border: none;
}
.EDA:focus{
  background-color:  #E63C4C;
}
.AP{
  position: absolute;
  width: 18vw;
  height: 18vw;
  left: 28vw;
margin-top: 25vw;
  border-radius: 160.5px;
  background-color:  #FFC872;
  border: none;
}
.AP:focus{
  background-color:  #FFC872;
}
.KP{
  position: absolute;
  width: 18vw;
  height: 18vw;
  left: 52vw;
margin-top: 25vw;
  border-radius: 160.5px;
  background-color:  #65C8D0;
  border: none;
}
.KP:focus{
  background-color:  #65C8D0;
}
.MP{
  position: absolute;
  width: 18vw;
  height: 18vw;
  left: 76vw;
margin-top: 25vw;
  border-radius: 160.5px;
  background-color:  #E63C4C;
  border: none;
}
.MP:focus{
  background-color:  #E63C4C;
}
.kpbtn {
  position: absolute;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 42px;
  color: #741313;
  background-color: transparent;
  border: none;
  top: 60vh;
  margin-left: 83vw;
}
.kpbtn:focus{
  background-color: transparent;
}
.kpbtnb{
  position: absolute;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 42px;
  color: #741313;
  background-color: transparent;
  border: none;
  top: 55vh;
  margin-left: 0vw;
}
.kpbtnb:focus{
  background-color: transparent;

}
.MP:onclick{
  background-color: transparent;
}
.OSp{
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 3vw;
line-height: 4vw;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.OSe{
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #000;
}
#EDAt{
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 3vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }
.OST{
  font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 82px;
line-height: 98px;
color: #000000;
}
.OSP{
font-family: Gill Sans MT;
font-style: normal;
font-weight: normal;
font-size: 5vw;
line-height: 4vw;
color: #000000;
}
.atras{
  display: none;
  font-size: 35px;
  margin-right: 45vw;
  bottom: 5vw;
}
.ab{
  font-family: Gill Sans MT;
font-style: normal;
font-weight: normal;
font-size: 53px;
line-height: 42px;
color: #fff;
border: none;
background-color: transparent;
height: 7vh;
width: 7vw;
}
.ab:focus{
  background-color: transparent;
}
#systems{
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1100;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  button {
    position: absolute;
  }
  h2{
    font-size: 22px;
  }
  #content{
   padding: 0px;
  }
}
.Areas{
position: relative;
width: 100vw;
height: 110vh;
background-color: #f6f6f6;
}

#AreasT{
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 82px;
line-height: 98px;
text-align: center;
margin-top: -3px !important;
margin-bottom: 0px !important;
color: #000000;
}
.Abox{
  width: 70%;
  margin-left: 15%;
  height: 60vh;
  background:#E6E6E6;
  margin-top: 10vw;
  border-radius: 75px;
  padding-right: 10px;
  padding-left: 10px;
}
.Abutton{
  margin-top: 2vh;
  width: 10vw;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(81.59deg, #2087FF 0%, #D55AF4 100%);
}

.Himg{
  margin-top: -8vw;
  width: 15vw;
  height: auto;
  margin-bottom: 10px;
}
.hTitleBox{
border-bottom: solid;
border-bottom-color: #C4C4C4;
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
}
.hTextBox{
font-family: Gill Sans MT;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
}
#DS{
margin-top: -16px !important;
}
.At{
font-family: Gill Sans MT;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 28px;
text-align: center;
color: #000000;
margin-top: 3vw;
}
.Ah{
font-family: Coolvetica;
margin-top: 9vw;
font-style: normal;
font-weight: normal;
font-size: 40px;
color: #333333;
}
.conta {
@extend %cont-story;

}
.Aimg{
margin-top: -8vw;
width: 15vw;
height: auto;
margin-bottom: 10px;
}
.aTextBox{
font-family: Gill Sans MT;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
}
.aTitleBox{
border-bottom: solid;
border-bottom-color: #C4C4C4;
font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
}
.next {
  position: relative;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 42px;
  color: #741313;
  border: none;
  background: transparent;
  bottom: 23vw;
  margin-left: 94vw;
}
.next:focus{
  background-color: transparent;
}
.back{
position: relative;
font-family: Gill Sans MT;
font-style: normal;
font-weight: normal;
font-size: 53px;
line-height: 42px;
color: rgb(116, 19, 19);
border: none;
background: transparent;
bottom: 21vw;
}
.back:focus{
  background-color: transparent;
}
.box{
width: 100%;
background: red;
}
.Gbox{
width:100%;
height: auto;
}
.Gimg1{
@extend %Gimages;
width: 43vw;
}
.Gimg2{
@extend %Gimages;
width: 23vw;
}
.Gimg3{
@extend %Gimages;
width: 20vw;
margin-left: 20vw;
}
.Gimg4{
@extend %Gimages;
width: 20vw;
}
.Gimg5{
@extend %Gimages;
width: 20vw;
}
.Gimg6{
@extend %Gimages;
width: 20vw;
}
#G{
 margin-right: 24%;
}
.row1 {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;
margin-bottom: 0;
}

/* Create four equal columns that sits next to each other */
.column1 {
-ms-flex: 25%; /* IE10 */
flex: 25%;
max-width: 25%;
padding: 0 4px;
box-sizing: border-box;
}

.column1 img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}
.Galery{
  position: relative;
  min-width: 100vw;
  min-height: 110vh;
  background-color: #f6f6f6;
  display: inline-block;
  }
  .CNT {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: inline-block;
}
.cnt{ 
  position: relative;
  width: 85vw;
  min-height: 69vh;
  top: 1vh;
  background: rgba(232, 60, 76, 0.96);
  display: inline-block;
} 

.cntT{
  font-family: Coolvetica;
font-style: normal;
font-weight: normal;
font-size: 31px !important;
line-height: 43px;
margin-top: -4vh;
}
#submit{   
  width: 10vw;
  height: 5vh; 
} 
#t{   
  color: #000000; 
} 
.footer{      
  position: relative;     
  width: 100vw;     
  height: 45vh;     
  background-color: #2087FF;     
}

@media only screen and (max-width: 1000px) {

  .WRi{
  max-width: 100vw;
  margin-top: 20px;
  }
  .img{
  width: 50vw;
  align-content: center;
  animation-name: change-port;
  animation-delay: 6s;
  animation-duration: 5s;
  }
  .imgCarousel{
    height: 60vh;
    width: auto;
    margin-top: 0vh;
    vertical-align: sub;
    position: relative;
    animation-name: change;
    animation-delay: 5s;
    animation-duration: 5s;
  }
  .WRT{
    position: relative;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
    margin-top: 10vh;
  }
  .ibutton  {
    height: 10vw;
    width: 25vw;
    border-radius: 0.5rem;
    border: none;
    box-shadow: -5px 10px rgb(249, 101, 3);
    left: 5vw;
    top: 30vw;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 4vw;
    text-align: center;
  }
  .ibutton:hover{
    height: 7.2vw;
    width: 22.2vw;
  }
  .OST{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 98px;
  color: #000000;
  }
  .OSP{
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
line-height: 4vw;
    color: #000000;
    }
    #EDAt{
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 4.5vw;
      line-height: 4vw;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      }

  .OSp{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  line-height: 4vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }
  .StoT {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
  }
  .cont{
    position: absolute;
    width: 93vw;
    height: 23vw;
    top: 44vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  .cont1{
    position: relative;
    width: 93vw;
    height: 23vw;
    top: 61vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  .cont2{
    position: relative;
    width: 93vw;
    height: 23vw;
    top: 81vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  
  .contc {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #c4c4c4;
  }
  .contc1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #157D8A;
  }
  .contc2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #ffffff;
  }
  .STot{
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    color: #000000;
    width: 63vw;
    margin-top: 0vw;
    margin-left: 25vw;
  }
   .SToh{
   height: 2vw;
  font-family: Coolvetica;
  margin-top: 1vw;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-right: 20vw;
  color: #333333;
}
  .line{
    height: 2vw;
    font-size: 10px;
    margin-top: 1vw;
    margin-right: 20vw;
  }
  .eme {
    width: 24vw;
    height: 19vw;
    margin-left: 1vw;
    margin-top: 0vw;
  }
  .ad {
    width: 22vw;
    height: 22vw;
    margin-left: 2vw;
    margin-top: 2vw;
  } 
  .micro {
    width: 21vw;
    height: 21vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  .next{
    position: absolute;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 42px;
    color: rgb(116, 19, 19);
    border: none;
    background: transparent;
    top: 50vh;
    margin-left:75vw;
    width: 5vw;
    }
    .back{
      position: absolute;
      font-family: Gill Sans MT;
      font-style: normal;
      font-weight: normal;
      font-size: 53px;
      line-height: 42px;
      color: rgb(116, 19, 19);
      border: none;
      background: transparent;
      top: -50vh;
      width: 5vw;
      margin-bottom: -49vh;
      }

      .EDA{
        position: absolute;
        width: 35vw;
        height: 35vw;
        left: 10vw;
        margin-top: 50vw;    border-radius: 160.5px;
        background-color:  #E63C4C;
        border: none;
      }
      .AP{
        position: absolute;
        width: 35vw;
        height: 35vw;
        left: 55vw;
        margin-top: 50vw;
        border-radius: 160.5px;
        background-color:  #FFC872;
        border: none;
      }
    
    
      .KP{
        position: absolute;
        width: 35vw;
        height: 35vw;
        left: 10vw;
        margin-top: 90vw;
        border-radius: 160.5px;
        background-color: #65C8D0;
        border: none;
      }
      .MP{
        position: absolute;
        width: 35vw;
        height: 35vw;
        left: 55vw;
      margin-top: 90vw;
        border-radius: 160.5px;
        background-color:  #E63C4C;
        border: none;
      }
  .Abutton{
    background: linear-gradient(81.59deg, #2087FF 0%, #D55AF4 100%);
  }
.Ah{
  height: 3vw;
 font-family: Coolvetica;
 margin-top: 1vw;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 margin-right: 20vw;
 color: #333333;
}
.At{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: #000000;
  width: 63vw;
  margin-top: 0vw;
  margin-left: 25vw;
}
.Abox{
width: 90%;
height: 36vh;
background:#E6E6E6;
border-radius: 50px;
margin-left: 0px;
padding-left: 0px;
margin: 5%;

}
.Aimg{
  margin-top: 9vh;
  margin-right: 49vw;
  width: 18vh;
  height: auto;
  border: none;
  margin-left: 1vw;
}
.aTitleBox{
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 44px;
  margin-top: -22vh;
  margin-right: 45vw;
  margin-left: 23vh;
  }
  .aTitleBox h3{
  margin-bottom: 0px;
  font-size: 28px;
  }
  .aTextBox{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 3vw;
  text-align: center;
  margin-left: 23vh;
  text-align: left;
  margin-top: 5px;
  }
.Areas{
height: 248vh !important;
position: relative;
width: 100vw;
background-color: #f6f6f6;
}
#ci{
  background-color: #386FCB ;
  color: white;
  box-shadow: 10px 5px 0px  2px #5486d8;
}
#ig{
  background-color: #65C8D0;
  box-shadow: 10px 5px 0px  2px #75e6ee;
}
#ds{
  background-color: #FFDC72;
  box-shadow: 10px 5px 0px  2px #E9C350;
}
#ar{
  background-color: #E63C4C;
  color: white;
  box-shadow: 10px 5px 0px  2px #E13141;
}
#li{
  background-color: #E63C4C;
  color: white;
  box-shadow: 10px 5px 0px  2px #E13141;
}
#systems{
  height: 100%;
}

.Abutton{
  display: none;
}
#submit{   
  width: 25vw;
  height: 5vh; 
} 
}
@media only screen and (max-height: 500px){
  .Slogan {
    -webkit-margin-before: 2em;
    margin-block-start: 2em;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 29px;
    color: white;
    -webkit-margin-after: 0em;
    margin-block-end: 0em;
}
.WRp {
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  z-index: 999;
  margin-top: -2vw;
}
  .WRi{
  max-width: 50vw;
  height: auto;
  margin-top: 0px;
  }
  .img{
  width: 50vw;
  align-content: center;
  animation-name: change-port;
  animation-delay: 6s;
  animation-duration: 5s;
  }
  .imgCarousel{
    height: 60vh;
    margin-top: -10vh;
    width: auto;
    vertical-align: sub;
    position: relative;
    animation-name: change;
    animation-delay: 5s;
    animation-duration: 5s;
  }
  .WRT{

    position: relative;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 43px;
    margin-top: 10vh;
  }
  .ibutton  {
    height: 10vw;
    width: 25vw;
    border-radius: 0.5rem;
    border: none;
    box-shadow: -5px 10px rgb(249, 101, 3);
    left: 5vw;
    top: 30vw;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 4vw;
    text-align: center;
  }
  .ibutton:hover{
    height: 7.2vw;
    width: 22.2vw;
  }
  .WDT{

    position: relative;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 43px;
    margin-top: 4vh;
    }
  .WDp{
    margin-bottom: -2vh;
    margin-top: -2vh;
    font-size: 20px;
    }
    .Hbox{
      width: 80%;
      margin-left: 10%;
      height: 53vh;
      background:#E6E6E6;
      margin-top: 7vw;
      border-radius: 75px;
      padding-right: 10px;
      padding-left: 10px;
    }
    .hTitleBox{
      border-bottom: solid;
      border-bottom-color: #C4C4C4;
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 0px;
      margin-top: -6vw;
      margin-bottom: -1vw;
      }
      .hTextBox{
        font-family: Gill Sans MT;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin-top: 0vw;
        }
        .carousel-indicators {
          position: absolute;
          /* right: 0; */
          /* bottom: 0; */
          /* left: 0; */
          /* z-index: 15; */
          display: -ms-flexbox;
          display: -webkit-box;
          /* display: flex; */
          -ms-flex-pack: center;
          -webkit-box-pack: center;
          justify-content: center;
          /* padding-left: 0; */
          /* margin-right: 15%; */
          margin-top: -1vw;
          margin-left: 40vw;
          list-style: none;
          width: 1vw;
        }
  .OST{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 98px;
  color: #000000;
  }
  .OSP{
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
line-height: 4vw;
    color: #000000;
    }
    #EDAt{
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5vw;
      line-height: 4vw;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      }
  .OSp{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 4vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }
  .StoT {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    margin-top: -2vw;
  }
  .cont{
    position: absolute;
    width: 93vw;
    height: 23vw;
    top: 44vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  .cont1{
    position: relative;
    width: 93vw;
    height: 23vw;
    top: 61vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  .cont2{
    position: relative;
    width: 93vw;
    height: 23vw;
    top: 81vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  
  .contc {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #c4c4c4;
  }
  .contc1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #157D8A;
  }
  .contc2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #ffffff;
  }
  .STot{
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    color: #000000;
    width: 63vw;
    margin-top: 0vw;
    margin-left: 25vw;
  }
   .SToh{
   height: 2vw;
  font-family: Coolvetica;
  margin-top: 1vw;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-right: 20vw;
  color: #333333;
}
  .line{
    height: 2vw;
    font-size: 10px;
    margin-top: 1vw;
    margin-right: 20vw;
  }
  .eme {
    width: 24vw;
    height: 19vw;
    margin-left: 1vw;
    margin-top: 0vw;
  }
  .ad {
    width: 22vw;
    height: 22vw;
    margin-left: 2vw;
    margin-top: 2vw;
  } 
  .micro {
    width: 21vw;
    height: 21vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  .next{
    position: absolute;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 42px;
    color: rgb(116, 19, 19);
    border: none;
    background: transparent;
    top: 50vh;
    margin-left:75vw;
    width: 5vw;
    }
    .back{
      position: absolute;
      font-family: Gill Sans MT;
      font-style: normal;
      font-weight: normal;
      font-size: 53px;
      line-height: 42px;
      color: rgb(116, 19, 19);
      border: none;
      background: transparent;
      top: -50vh;
      width: 5vw;
      margin-bottom: -49vh;
      }
      .OSe {
        font-family: Coolvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #000;
        margin-top: -3vw;
    }

      .EDA {
        position: absolute;
        width: 20vw;
        height: 20vw;
        left: 5vw;
        margin-top: 28vw;
        border-radius: 160.5px;
        background-color: #E63C4C;
        border: none;
    }
  .AP{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 28vw;
    margin-top: 28vw;
    border-radius: 160.5px;
    background-color:  #FFC872;
    border: none;
  }
  

  .KP{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 51vw;
    margin-top: 28vw;
    border-radius: 160.5px;
    background-color: #65C8D0;
    border: none;
  }
  .MP{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 74vw;
    margin-top: 28vw;
    border-radius: 160.5px;
    background-color:  #E63C4C;
    border: none;
  }
  .Abutton{
    background: linear-gradient(81.59deg, #2087FF 0%, #D55AF4 100%);
  }
.Ah{
  height: 3vw;
 font-family: Coolvetica;
 margin-top: 1vw;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 margin-right: 20vw;
 color: #333333;
}
.At{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: #000000;
  width: 63vw;
  margin-top: 0vw;
  margin-left: 25vw;
}
.Abox{
width: 90%;
height: 36vh;
background:#E6E6E6;
border-radius: 50px;
margin-left: 0px;
padding-left: 0px;
margin: 5%;

}
.Aimg{
  margin-top: 4vh;
  margin-right: 75vw;
  width: 20vh;
  height: auto;
  border: none;
  margin-left: 3vw;
}
.aTitleBox{
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 44px;
  margin-top: -30vh;
  margin-right: 35vw;
  margin-left: 48vh;
  }
  .aTitleBox h3{
  margin-bottom: 0px;
  font-size: 28px;
  }
  .aTextBox{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  margin-left: 40vh;
  text-align: left;
  margin-top: 3px;
  }
.Areas{
  min-height: 100vh !important;
  position: relative;
  min-width: 100vw;
  background-color: #f6f6f6;
  display: inline-block;
}
#ci{
  background-color: #386FCB ;
  color: white;
  box-shadow: 10px 5px 0px  2px #5486d8;
  //margin-top: -15vw;
}
#ig{
  background-color: #65C8D0;
  box-shadow: 10px 5px 0px  2px #75e6ee;
  margin-top: -2vw;
}
#ds{
  background-color: #FFDC72;
  box-shadow: 10px 5px 0px  2px #E9C350;
  margin-top: -2vw;
}
#ar{
  background-color: #E63C4C;
  color: white;
  box-shadow: 10px 5px 0px  2px #E13141;
  margin-top: -2vw;
}
#li{
  background-color: #E63C4C;
  color: white;
  box-shadow: 10px 5px 0px  2px #E13141;
  margin-top: -2vw;
}
#systems{
  height: 100%;
}
.cnt{ 
  position: relative; 
  width: 85vw;
  min-height: 80vh;
  top: -6vh;
  background: rgba(232, 60, 76, 0.96);
  padding-bottom: 30px;
  display: inline-block;
} 
#cntinput{
  margin-top: -10vh;
}
.Abutton{
  display: none;
}
#submit{   
  width: 25vw;
  height: 10vh; 
} 
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .OSe {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #000;
    margin-top: 1vh;
}
.EDA{
  position: absolute;
  width: 35vw;
  height: 35vw;
  left: 10vw;
  margin-top: 35vh;    border-radius: 160.5px;
  background-color:  #E63C4C;
  border: none;
}
.AP{
  position: absolute;
  width: 35vw;
  height: 35vw;
  left: 55vw;
  margin-top: 35vh;
  border-radius: 160.5px;
  background-color:  #FFC872;
  border: none;
}


.KP{
  position: absolute;
  width: 35vw;
  height: 35vw;
  left: 10vw;
  margin-top: 65vh;
  border-radius: 160.5px;
  background-color: #65C8D0;
  border: none;
}
.MP{
  position: absolute;
  width: 35vw;
  height: 35vw;
  left: 55vw;
margin-top: 65vh;
  border-radius: 160.5px;
  background-color:  #E63C4C;
  border: none;
}
.column1 {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}
}

@media screen and (max-width: 411px) {
  .Hbox{
    width: 95vw;
    height: 26vh;
    background:#E6E6E6;
    border-radius: 25px;
    margin-left: 0px;
    margin-top: 5vw;
    padding-left: 0px;
  }
  .Himg{
  margin-top: 4vh;
  margin-right: 48vw;
  width: 18vh;
  height: auto;
  border: none;
  margin-left: 2vw;
  }
  .hTitleBox{
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  margin-top: -20vh;
  margin-right: 45vw;
  margin-left: 22vh;
  }
  .hTitleBox h3{
    margin-top: 0vw;
    margin-bottom: 0px;
    font-size: 6vw;
    line-height: 6vw;
    }
  .hTextBox{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
  margin-left: 22vh;
  text-align: left;
  margin-top: 0px;
  }
  .EDA{
    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 10vw;
    margin-top: 45vh;    border-radius: 160.5px;
    background-color:  #E63C4C;
    border: none;
  }
  .AP{
    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 55vw;
    margin-top: 45vh;
    border-radius: 160.5px;
    background-color:  #FFC872;
    border: none;
  }
  
  
  .KP{
    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 10vw;
    margin-top: 70vh;
    border-radius: 160.5px;
    background-color: #65C8D0;
    border: none;
  }
  .MP{
    position: absolute;
    width: 35vw;
    height: 35vw;
    left: 55vw;
  margin-top: 70vh;
    border-radius: 160.5px;
    background-color:  #E63C4C;
    border: none;
  }
  .OST{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
  color: #000000;
  }
  .carousel-indicators {
    position: absolute;
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: 15; */
    display: -ms-flexbox;
    display: -webkit-box;
    /* display: flex; */
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    /* padding-left: 0; */
    /* margin-right: 15%; */
    margin-top: -2vw;
    margin-left: 35vw;
    list-style: none;
    width: 1vw;
  }
  
}

@media only screen and (max-width: 300px){
.aTitleBox {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 44px;
    margin-top: -27vh;
    //margin-right: 45vw;
    margin-left: 45vw;
}
.aTextBox {
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    line-height: 3vw;
    text-align: center;
    margin-left: 44vw;
    margin-top: 5px;
}
.Hbox {
  width: 90vw;
  height: 26vh;
  background: #E6E6E6;
  border-radius: 25px;
  margin-left: 0px;
  margin-top: 5vw;
  padding-left: 0px;
}
.EDA{
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 10vw;
  margin-top: 45vh;    border-radius: 160.5px;
  background-color:  #E63C4C;
  border: none;
}
.AP{
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 55vw;
  margin-top: 45vh;
  border-radius: 160.5px;
  background-color:  #FFC872;
  border: none;
}


.KP{
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 10vw;
  margin-top: 70vh;
  border-radius: 160.5px;
  background-color: #65C8D0;
  border: none;
}
.MP{
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 55vw;
margin-top: 70vh;
  border-radius: 160.5px;
  background-color:  #E63C4C;
  border: none;
}
.carousel-indicators li {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  width: 5vw;
  height: 5vw;
  border-radius: 5rem;
  margin-top: -2vw;
  margin-left: 2vw;
  text-indent: -999px;
  cursor: pointer;
  background-color: #b1abab;
  background-clip: padding-box;
  opacity: .5;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}
.carousel-indicators {
  position: absolute;
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* z-index: 15; */
  display: -ms-flexbox;
  display: -webkit-box;
  /* display: flex; */
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-left: 0; */
  /* margin-right: 15%; */
  margin-top: -3vw;
  margin-left: 30vw;
  list-style: none;
  width: 1vw;
}

#submit {
  width: 30vw;
  height: 5vh;
}
}

@media screen and (max-height: 300px) {

  .Slogan {
    -webkit-margin-before: 2em;
    margin-block-start: 2em;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 29px;
    color: white;
    -webkit-margin-after: 0em;
    margin-block-end: 0em;
}
.WRp {
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  z-index: 999;
  margin-top: -2vw;
}

  .WRi{
  max-width: 40vw;
  height: auto;
  margin-top: 0px;
  }
  .img{
  width: 50vw;
  align-content: center;
  animation-name: change-port;
  animation-delay: 6s;
  animation-duration: 5s;
  }
  .imgCarousel{
    height: 60vh;
    margin-top: -10vh;
    width: auto;
    vertical-align: sub;
    position: relative;
    animation-name: change;
    animation-delay: 5s;
    animation-duration: 5s;
  }
  .WRT{

    position: relative;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 43px;
    margin-top: 10vh;
  }
  .ibutton  {
    height: 10vw;
    width: 25vw;
    border-radius: 0.5rem;
    border: none;
    box-shadow: -5px 10px rgb(249, 101, 3);
    left: 5vw;
    top: 30vw;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    line-height: 4vw;
    text-align: center;
  }
  .ibutton:hover{
    height: 7.2vw;
    width: 22.2vw;
  }
  .WDT{

    position: relative;
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 43px;
    margin-top: 4vh;
    }
  .WDp{
    margin-bottom: -2vh;
    margin-top: -2vh;
    font-size: 20px;
    }
    .Hbox{
      max-width: 80%;
      margin-left: 10%;
      min-height: 80vh;
      background:#E6E6E6;
      margin-top: 10vh;
      border-radius: 75px;
      padding-right: 10px;
      padding-left: 10px;
    }
    .hTitleBox{
      border-bottom: solid;
      border-bottom-color: #C4C4C4;
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 0px;
      margin-top: -6vw;
      margin-bottom: -1vw;
      }
      .hTextBox{
        font-family: Gill Sans MT;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin-top: 0vw;
        }
        .carousel-indicators {
          position: absolute;
          /* right: 0; */
          /* bottom: 0; */
          /* left: 0; */
          /* z-index: 15; */
          display: -ms-flexbox;
          display: -webkit-box;
          /* display: flex; */
          -ms-flex-pack: center;
          -webkit-box-pack: center;
          justify-content: center;
          /* padding-left: 0; */
          /* margin-right: 15%; */
          margin-top: -2vw;
          margin-left: 40vw;
          list-style: none;
          width: 1vw;
        }
  .OST{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 98px;
  color: #000000;
  }
  .OSP{
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
line-height: 4vw;
    color: #000000;
    }
    #EDAt{
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5vw;
      line-height: 4vw;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      }
  .OSp{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 4vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }
  .StoT {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    margin-top: -2vw;
  }
  .cont{
    position: absolute;
    width: 93vw;
    height: 23vw;
    top: 44vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  .cont1{
    position: relative;
    width: 93vw;
    height: 23vw;
    top: 61vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  .cont2{
    position: relative;
    width: 93vw;
    height: 23vw;
    top: 81vw;
    border-radius: 160.5px;
    left: 5vw;
    background: #e6e6e6;
  }
  
  .contc {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #c4c4c4;
  }
  .contc1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #157D8A;
  }
  .contc2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    bottom: 0vw;
    border-radius: 160.5px;
    left: 0vw;
    background: #ffffff;
  }
  .STot{
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 10px;
    text-align: center;
    color: #000000;
    width: 63vw;
    margin-top: 0vw;
    margin-left: 25vw;
  }
   .SToh{
   height: 2vw;
  font-family: Coolvetica;
  margin-top: 1vw;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-right: 20vw;
  color: #333333;
}
  .line{
    height: 2vw;
    font-size: 10px;
    margin-top: 1vw;
    margin-right: 20vw;
  }
  .eme {
    width: 24vw;
    height: 19vw;
    margin-left: 1vw;
    margin-top: 0vw;
  }
  .ad {
    width: 22vw;
    height: 22vw;
    margin-left: 2vw;
    margin-top: 2vw;
  } 
  .micro {
    width: 21vw;
    height: 21vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  .next{
    position: absolute;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 42px;
    color: rgb(116, 19, 19);
    border: none;
    background: transparent;
    top: 50vh;
    margin-left:75vw;
    width: 5vw;
    }
    .back{
      position: absolute;
      font-family: Gill Sans MT;
      font-style: normal;
      font-weight: normal;
      font-size: 53px;
      line-height: 42px;
      color: rgb(116, 19, 19);
      border: none;
      background: transparent;
      top: -50vh;
      width: 5vw;
      margin-bottom: -49vh;
      }
      .OSe {
        font-family: Coolvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #000;
        margin-top: -3vw;
    }

      .EDA {
        position: absolute;
        width: 20vw;
        height: 20vw;
        left: 5vw;
        margin-top: 26vw;
        border-radius: 160.5px;
        background-color: #E63C4C;
        border: none;
    }
  .AP{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 28vw;
    margin-top: 26vw;
    border-radius: 160.5px;
    background-color:  #FFC872;
    border: none;
  }
  

  .KP{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 51vw;
    margin-top: 26vw;
    border-radius: 160.5px;
    background-color: #65C8D0;
    border: none;
  }
  .MP{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 74vw;
    margin-top: 26vw;
    border-radius: 160.5px;
    background-color:  #E63C4C;
    border: none;
  }
  .Abutton{
    background: linear-gradient(81.59deg, #2087FF 0%, #D55AF4 100%);
  }
.Ah{
  height: 3vw;
 font-family: Coolvetica;
 margin-top: 1vw;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 margin-right: 20vw;
 color: #333333;
}
.At{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  text-align: center;
  color: #000000;
  width: 63vw;
  margin-top: 0vw;
  margin-left: 25vw;
}
.Abox{
width: 90%;
height: 36vh;
background:#E6E6E6;
border-radius: 50px;
margin-left: 0px;
padding-left: 0px;
margin: 5%;
margin-top: -3vh;

}

.Aimg{
  margin-top: 4vh;
  margin-right: 75vw;
  width: 26vh;
  height: auto;
  border: none;
  margin-left: 3vw;
}
.aTitleBox{
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 44px;
  margin-top: -34vh;
  margin-right: 35vw;
  margin-left: 48vh;
  }
  .aTitleBox h3{
  margin-bottom: 0px;
  font-size: 28px;
  }
  .aTextBox{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  margin-left: 40vh;
  text-align: left;
  margin-top: 3px;
  }
.Areas{
  min-height: 100vh !important;
  position: relative;
  min-width: 100vw;
  background-color: #f6f6f6;
  display: inline-block;
}
#ci{
  background-color: #386FCB ;
  color: white;
  box-shadow: 10px 5px 0px  2px #5486d8;
  //margin-top: -15vw;
}
#ig{
  background-color: #65C8D0;
  box-shadow: 10px 5px 0px  2px #75e6ee;
  margin-top: -2vw;
}
#ds{
  background-color: #FFDC72;
  box-shadow: 10px 5px 0px  2px #E9C350;
  margin-top: -2vw;
}
#ar{
  background-color: #E63C4C;
  color: white;
  box-shadow: 10px 5px 0px  2px #E13141;
  margin-top: -2vw;
}
#li{
  background-color: #E63C4C;
  color: white;
  box-shadow: 10px 5px 0px  2px #E13141;
  margin-top: -2vw;
}
.Simg{
  width: 23vw;
  vertical-align: sub;
  position: relative;
  //margin-top: 25%;
  margin-left: 17%;
  }
#systems{
  height: 100%;
}
.cnt{ 
  position: relative; 
  width: 85vw;
  min-height: 80vh;
  top: -6vh;
  background: rgba(232, 60, 76, 0.96);
  padding-bottom: 30px;
  display: inline-block;
} 
#cntinput{
  margin-top: -10vh;
}
.Abutton{
  display: none;
}
#submit{   
  width: 25vw;
  height: 15vh; 
} 

}