/*Ivan Valverde🐦*/
/*Angel Ureña💢*/
// Sass styles
%balls-default-style{
    z-index: auto;
    border-radius: 50%;
    position: fixed;
    transform: rotate(-52.63deg);
    top: 50vh;
}
@mixin ball-specific-style($width, $height, $left){
    width: $width;
    height: $height;
    left: $left;
}
%cont-story{
  position: absolute;
  width: 27vw;
  height: 63vh;
  background: #E6E6E6;
  border-radius: 110px;
  top: calc(55% - 519.36px/2 + 103.26px);
}
%circle-story{
  position: absolute;
  width: 269px;
  height: 269px;
  bottom: 28vw;
  border-radius: 160.5px;
  background-color: #C4C4C4;
}
@mixin circle-story($left,$background){
  left: $left;
  background: $background;
}
.img{
    width: 35vw;
    vertical-align: sub;
    position: relative;
    animation-name: change;
    animation-delay: 5s;
    animation-duration: 5s;
    }
//Animations
@keyframes floatingBalls {
    0% {
      top: -10%;
    }
    100% {
      top: 110%;
    }
}
@keyframes change{
    0%{
        left:0px; top:0px;
    }
    100%{
        left:15vw; top:0px; opacity: 0;
    }
}
@keyframes change-port{
    0% {
        left:0px; 
        top:0px;
    }
    
    100% {
        left:0px; 
        top:20px; 
        opacity: 0;
    }
  
}

// Normal styles
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden; /* Ez clap XD*/
}
.hide {
    display: none;
}
.contenedor  {
      position: relative;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(65.33deg, rgba(232, 94, 60, 0.81) 1.71%, rgba(232, 60, 163, 0) 50.49%), linear-gradient(233.59deg, #E83C4C -3.23%, #E83C4C -3.23%);
      display:grid;
      z-index: 1000;
}
/*.transparent{
    position: fixed!important;
}*/
.Logo{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}
.Slogan{
  margin-block-start: 2em;
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 29px;
  color: white;
  margin-block-end: 0em;
}
.xd{
    margin-top:64px ;
    background: transparent;
}
.ibutton  {
    height: 7vw;
    width: 22vw;
    border-radius: 1rem;
    border: none;
    box-shadow: -5px 10px rgb(249, 101, 3);
    left: 5vw;
    margin-top: 8vw;
    font-family: Gill Sans MT;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;
    text-align: center;
}
.ibutton:hover{
    height: 7.2vw;
    width: 22.2vw;
}
.WR{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: block;
  
}
.WRT{
  
  position: relative;
  z-index: 1000;
  font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 43px;
}
.brand-logo{
    left: 35px;
}
video{
    position: relative;
  z-index: 1000;
}
#grid_who{
    display: grid;
    
}
.WRp{
    font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
    position: relative;
    z-index: 1000;
}
.WRi{
  width: 50vw;
  height: auto;
  
}
.ball{
    @extend %balls-default-style;
}
.a {
    @include ball-specific-style(172px, 172px, 0%);
    background: rgba(252, 177, 125, 0.69);
    animation: floatingBalls 15s linear 0s infinite reverse;
}
.b{  
    @include ball-specific-style(172px, 172px, 50%);
    background: linear-gradient(91.3deg, #EFBAD3 9.51%, rgba(255, 255, 255, 0) 195.85%), rgba(255, 137, 147, 0.54);
     animation: floatingBalls 20s linear 0s infinite reverse ;
}
.c{ 
    @include ball-specific-style(35px, 35px, 10%);
    background: rgba(126, 137, 210, 0.67);
    animation: floatingBalls 20s linear 0s infinite reverse ;
}
.d{ 
    @include ball-specific-style(110px, 110px, 80%);
    background: rgba(101, 200, 208, 0.47);
    animation: floatingBalls 27s linear 0s infinite reverse;
}
.e{
    @include ball-specific-style(68px, 68px, 13%);
    background: linear-gradient(180deg, #54B290 0%, rgba(255, 255, 255, 0) 100%), rgba(116, 207, 174, 0.69);
    animation: floatingBalls 19s linear 0s infinite;
}
.f{
    @include ball-specific-style(50px, 50px, 40%);
    background: linear-gradient(180deg, rgba(232, 60, 76, 0.69) 0%, rgba(255, 255, 255, 0) 100%), rgba(252, 177, 125, 0.69);
    animation: floatingBalls 25s linear 0s infinite;
}
.g{ 
    @include ball-specific-style(68px, 68px, 73%);
    background: linear-gradient(153.58deg, rgba(162, 84, 242, 0.22) 16.7%, rgba(255, 255, 255, 0) 100%), rgba(232, 60, 158, 0.69);
    animation: floatingBalls 35s linear 0s infinite  ;
}
.WD{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;//#fefefe
    display:grid;
    display: block;
}
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    background: #f0f0f0;
} 
#root > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    position: relative;
    display: inline-block;
    width: 60vw;
    display: block;
}

.STo{
position: relative;
width: 100vw;
height: 100vh;
background-color: #f6f6f6;
//margin-top: 57vw;
}

.cont {
    @extend %cont-story;
    left: 5vw;
    
  }
  
  .contc {
    @extend %circle-story;
    @include circle-story(4vw, #C4C4C4);

  }
  
  .cont1 {
    @extend %cont-story;
    left: 37vw;
  }
  
  .contc1 {
    @extend %circle-story;
    @include circle-story(4vw, #157D8A);
  }
  
  .cont2 {
    @extend %cont-story;
    left: 69vw;
  }
  
  .contc2 {
    @extend %circle-story;
    @include circle-story(4vw, #ffffff);
  }
  
  .StoT {
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
  }
  
  .eme {
    width: 15vw;
    height: 10vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  
  .ad {
    width: 15vw;
    height: 15vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  
  .micro {
    width: 15vw;
    height: 15vw;
    margin-left: 2vw;
    margin-top: 2vw;
  }
  .SToh{
    font-family: Coolvetica;
    margin-top: 9vw;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #333333;
  }
  .STot{
    font-family: Gill Sans MT;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: 3vw;
  }
  .OS{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    display:grid;
    display: block;

  }
  /*Cada left se le suma 24vw para tener orden*/
  .EDA{
    position: absolute;
    width: 18vw;
    height: 18vw;
    left: 4vw;
  margin-top: 7vw;
    border-radius: 160.5px;
    background-color:  #E63C4C;
    border: none;
  }
  .AP{
    position: absolute;
    width: 18vw;
    height: 18vw;
    left: 28vw;
  margin-top: 7vw;
    border-radius: 160.5px;
    background-color:  #FFC872;
    border: none;
  }
  
  
  .KP{
    position: absolute;
    width: 18vw;
    height: 18vw;
    left: 52vw;
  margin-top: 7vw;
    border-radius: 160.5px;
    background-color:  #65C8D0;
    border: none;
  }
  .MP{
    position: absolute;
    width: 18vw;
    height: 18vw;
    left: 76vw;
  margin-top: 7vw;
    border-radius: 160.5px;
    background-color:  #E63C4C;
    border: none;
  }
  .MP:onclick{
    background-color: transparent;
  }
  .OSp{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  }
  .OSe{
    font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 3vw;
    color: #FFFFFF;
  }
  .OST{
    font-family: Coolvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 82px;
  line-height: 98px;
  color: #000000;
  }
  .OSP{
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  }
  .atras{
    display: none;
    font-size: 35px;
    margin-right: 45vw;
    bottom: 5vw;
  }
  .ab{
    font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 42px;
  color: #fff;
  border: none;
  background-color: transparent;
  }
#systems{
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1100;
    background: white;
}
@media only screen and (max-width: 700px) {
    .WRi{
    width: 100vw;
    margin-top: 20px;
    }
    .img{
    width: 90vw;
    align-content: center;
    animation-name: change-port;
    animation-delay: 6s;
    animation-duration: 5s;
    }
    .ibutton  {
      height: 10vw;
      width: 25vw;
      border-radius: 0.5rem;
      border: none;
      box-shadow: -5px 10px rgb(249, 101, 3);
      left: 5vw;
      top: 30vw;
      font-family: Gill Sans MT;
      font-style: normal;
      font-weight: normal;
      font-size: 3.2vw;
      line-height: 4vw;
      text-align: center;
    }
    .ibutton:hover{
      height: 7.2vw;
      width: 22.2vw;
    }
    .OST{
      font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 98px;
    color: #000000;
    }
    .OSP{
      font-family: Gill Sans MT;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 0px;
      color: #000000;
      }
    .OSe{
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
    line-height: 25px;
    margin-left: 1vw;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
    }
    .OSp{
      font-family: Coolvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    }
    .StoT {
      font-family: Coolvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 46px;
    }
    .cont{
      position: absolute;
      width: 27vw;
      height: 37vh;
      background: #E6E6E6;
      border-radius: 40px;
      top: calc(50% - 519.36px/2 + 103.26px);
      left: 5vw;
    }
    .cont1{
      position: absolute;
      width: 27vw;
      height: 37vh;
      background: #E6E6E6;
      border-radius: 40px;
      top: calc(50% - 519.36px/2 + 103.26px);
      left: 37vw;
    }
    .cont2{
      position: absolute;
      width: 27vw;
      height: 37vh;
      background: #E6E6E6;
      border-radius: 40px;
      top: calc(50% - 519.36px/2 + 103.26px);
      left: 69vw;
    }
    
    .contc {
      position: absolute;
      width: 15vw;
      height: 15vw;
      bottom: 60vw;
      border-radius: 160.5px;
      left: 6vw;
      background: #c4c4c4;
    }
    .contc1 {
      position: absolute;
      width: 15vw;
      height: 15vw;
      bottom: 60vw;
      border-radius: 160.5px;
      left: 6vw;
      background: #157D8A;
    }
    .contc2 {
      position: absolute;
      width: 15vw;
      height: 15vw;
      bottom: 60vw;
      border-radius: 160.5px;
      left: 6vw;
      background: #ffffff;
    }
    .STot{
      font-family: Gill Sans MT;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 10px;
      text-align: center;
      color: #000000;
      margin-top: 3vw;
    }
     .SToh{
    font-family: Coolvetica;
    margin-top: 9vw;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  
  color: #333333;
  }
    .line{
      font-size: 10px;
      margin-top: 1vw;
    }
    .eme {
      width: 15vw;
      height: 10vw;
      margin-left: 0.5vw;
      margin-top: 1vw;
    }
    
    .ad {
      width: 13vw;
      height: 13vw;
      margin-left: 1vw;
      margin-top: 1vw;
    }
    
    .micro {
      width: 15vw;
      height: 15vw;
      margin-left: 0vw;
      margin-top: 0vw;
    }
}